/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #2825d3;
    margin: 0;
    padding: 20px;
}

header,
footer {
    background-color: #ce4eb9;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px 0;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Ordered List Styles */
ol {
    padding-left: 20px;
}

/* Link Styles */
a:link,
a:visited {
    background-color: #c84756;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

/* Image Styles */
img {
    display: block;
    margin: 10px auto;
}

/* Image Container Styles */
.image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-item {
    text-align: center;
}
